body{
    background-image: url(images.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;


}
label{
    display: block;
     margin: 10px;
     
}
div{
    background-color: rgb(238, 241, 243);
    padding: 10px;
    width: 400px;
    border border-radius: 10px;
    
}
input[type="text"]:focus,input[type="email"]:focus,select :focus,textarea:focus{
    background-color: rgb(180, 186, 66);
}
button[type="submit"]{
    background-color: rgba(236, 161, 9, 0.929);
color: rgb(252, 250, 250);

}
input[type="button"]:hover{
    background-color: rgb(12, 28, 203);}
    button[type="reset"]{
        background-color: rgba(231, 166, 81, 0.817);
    }
