h2{
    background-color: rgb(159, 155, 155);
    text-align: right; 
    color: rgb(58, 11, 228);
    font-size: medium;
    text-decoration: underline;
    text-shadow: none;
    text-transform: uppercase;
    text-indent: 0%;

}
img{
    height:auto
    width;
}